<div class="max-w-7xl mx-auto p4">
    <div class="flex justify-between items-center">
        <h1>Ordenes de compra</h1>
        <button mat-raised-button color="primary" (click)="gotoSavePage()">Nueva venta</button>
    </div>
</div>

<div class="w-full">
    <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="saleDate">
            <th mat-header-cell *matHeaderCellDef> Fecha de venta </th>
            <td mat-cell *matCellDef="let element"> {{element.saleDate | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.person?.name}} {{element.person?.lastname}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="orderType">
            <th mat-header-cell *matHeaderCellDef> Tipo de orden </th>
            <td mat-cell *matCellDef="let element"> {{element.orderType}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.amountTotal | number: '1.2-5'}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
              <div class="order-status-badge" [ngClass]="element.state">{{getStateLabel(element.state)}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Ver detalle" color="primary">
                  <mat-icon>preview</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>
