<div class="max-w-7xl mx-auto p4">
  <div class="flex mb2">
    <h1>Nueva venta</h1>
  </div>

  <form [formGroup]="orderForm">
    <div class="sm-col sm-col-6 px2">
      <mat-form-field class="w-full">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="userId" (selectionChange)="getAddresses()">
          @for (person of persons; track $index) {
            <mat-option [value]="person.id">{{ person.name }} {{ person.lastname }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-col sm-col-6 px2">
      <mat-form-field class="w-full">
        <mat-label>Dirección</mat-label>
        <mat-select formControlName="address">
          @for (res of addresses; track res.id) {
            <mat-option [value]="res.address">{{ res.address }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="sm-col sm-col-6 px2">
      <mat-form-field class="w-full">
        <mat-label>Tipo de orden</mat-label>
        <mat-select formControlName="orderType">
          <mat-option value="BOLETA">Boleta</mat-option>
          <mat-option value="FACTURA">Factura</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-col sm-col-6 px2">
      <mat-form-field class="w-full">
        <mat-label>Método de pago</mat-label>
        <mat-select formControlName="paymentMethod">
          <mat-option value="EFECTIVO">Efectivo</mat-option>
          <mat-option value="YAPE">Yape</mat-option>
          <mat-option value="TARJETA">Tarjeta</mat-option>
          <mat-option value="TRANSFERENCIA">Transferencia</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div class="mb2">
    <h4 class="mb2">Agregar productos</h4>

    <div class="sm-col sm-col-6 px2">
      <mat-form-field class="w-full">
        <mat-label>Seleccionar producto</mat-label>
        <mat-select [formControl]="productCtrl" [compareWith]="compareFn">
          @for (product of products; track product.id) {
            <mat-option [value]="product">{{ product.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-col sm-col-6 px2">
      <mat-form-field class="w-full">
        <mat-label>Ingresar cantidad</mat-label>
        <input type="number" [formControl]="quantityCtrl" matInput>
      </mat-form-field>
    </div>

    <div>
      <button mat-stroked-button (click)="addSelectedOrderProduct()">Agregar a la orden</button>
    </div>
  </div>

  <table mat-table [dataSource]="selectedOrderProducts" class="mb4">
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Producto</th>
      <td mat-cell *matCellDef="let element"> {{ element.productName }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Cantidad</th>
      <td mat-cell *matCellDef="let element"> {{ element.productQuantity }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Precio</th>
      <td mat-cell *matCellDef="let element">S/ {{ element.productPrice | number: '1.2-5' }}</td>
    </ng-container>

    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef> Subtotal</th>
      <td mat-cell *matCellDef="let element">S/ {{ element.productSubtotal | number: '1.2-5' }}</td>
    </ng-container>

    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef> Opciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="warn" (click)="removeSelectedOrderProduct(element.productId)">Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="fixed w-full bottom-0 py2 px4">
  <div class="flex items-center"style="gap: 2rem">
    <div class="flex" style="gap: 0.5rem">
      <span>Total:</span>
      <span style="font-size: 1.5rem;">S/ {{ totalAmount | number: '1.2-5' }}</span>
    </div>
    <button mat-raised-button color="primary" (click)="registerOrder()">Registrar orden</button>
  </div>
</div>
