/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-full {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.rounded-full {
    border-radius: 9999px;
}

.h-10 {
    height: 2.5rem;
}

.w-10 {
    width: 2.5rem;
}

.max-w-7xl {
    max-width: 90rem;
}

.bg-white {
    background-color: #ffffff;
}

.overflow-x-auto {
    overflow-x: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order-status-badge {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5em;
  font-size: 0.875em;
  text-align: center;
  color: white;

  &.IN_PROGRESS {
    background-color: #007bff;
  }

  &.ON_WAY {
    background-color: #ffc107;
  }

  &.DELIVERED {
    background-color: #28a745;
  }

  &.CANCELLED {
    background-color: #dc3545;
  }
}
